Client/node_modules
Server/run.bat
Server/node_modules
Server/lib/node_modules
Server/lib/Web/public/js/**
!Server/lib/Web/public/js/jquery.js
Server/lib/sub/auth.json
Server/lib/sub/global.json
.vscode
proxy/var/www/kkutu/html/admin/php??admin # Install these yourself if you want

# vim temp files
*~
*.swp
*.swo
