//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends layout

block Subject
	title *** JJO.KR 관리 페이지 ***

block JS
	script(type="text/javascript", src="/js/in_admin.min.js")
	
block Middle
	fieldset
		legend 자격
		input#db-password(type='password', placeholder='암호')
		input#db-lang(placeholder='테이블')
	fieldset
		legend 추가 요청 받기
		div
			button#injeong-go 조회
			div
				table
					thead: tr
						td 승인?
						td 링크
						td #
						td theme
						td writer
						td createdAt
					tbody#injeong-data
			button#injeong-everything 모두 승인
			button#injeong-nothing 모두 거절
			button#injeong-apply 적용
	fieldset
		legend 상점 DB 다루기
		div
			input#shop-word(placeholder='품목 (~ALL)')
			button#shop-go 조회
			button#shop-hide 숨기기
			div
				table
					thead: tr
						td #
						td cost
						td hit
						td term
						td group
						td updatedAt
						td options
						td name_ko_KR
						td desc_ko_KR
						td name_en_US
						td desc_en_US
					tbody#shop-data
			button#shop-add 추가
			button#shop-apply 적용
	fieldset
		legend 유저 DB 다루기
		div
			input#user-id(placeholder='ID')
			input#user-nick(placeholder='닉네임')
			button#user-go 조회
			div
				table
					thead: tr
						td #
						td money
						td kkutu
						td box
						td equip
						td exordial
						td server
						td lastLogin
						td black
						td friends
					tbody#user-data
			button#user-apply 적용
	fieldset
		legend 유저 감시하기
		div
			input#gamsi-id(placeholder='ID (,로 구분)')
			button#gamsi-go 감시
			div
				table
					thead: tr
						td #
						td 닉네임
						td 서버
					tbody#gamsi-data
	fieldset
		legend 끄투 DB 다루기
		div
			input#db-word(placeholder='단어')
			button#db-go 조회
			div#word-data
				div#wd-id
				input#wd-flag
				table
					thead: tr
						td #
						td type
						td theme
						td mean
						td 행동
					tbody#wd-data
			div#word-flag
			div#word-hit
			button#word-add 추가
			button#db-apply 적용
	fieldset
		legend 끄투 DB에 단어 추가하기
		div
			input#db-theme(placeholder='주제 (~부터 적으면 검색)')
			textarea#db-list(rows=20, cols=100)
			button#db-ok 확인
	fieldset
		legend 끄투에서의 인기 단어
		button#kpw-query 조회
		textarea#kpw-html
		div#kpw-table
		button#kpw-flush 반영
